@charset "utf-8";

.ltable { width: 100%; border-top: 1px solid #e1e1e1; border-left: 1px solid #e1e1e1;font-family: "Microsoft YaHei"; font-size: 12px; table-layout: fixed; }

	.ltable a { color: #666; text-decoration: none; }
    .ltable a:hover { color: #0065D9; text-decoration: none; }
    .ltable a:link,.ltable a:visited { color: #2A72C5; text-decoration: none; }
	.ltable a:link.current,.ltable a:visited.current { color: #ffa800; text-decoration: none; }

    .ltable th { padding: 8px 5px; color: #333; font-size:14px; font-weight: 500; background: #f1f8fe; border-bottom: 1px solid #E1E1E1; line-height: 1.5em; border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; text-align: center}
    .ltable td { padding:8px 5px; border-bottom: 1px solid #e8e8e8; line-height: 1.5em; color: #666; /*overflow: hidden; text-overflow: ellipsis;*/ /*white-space: nowrap;*/ border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; text-align: center}
    .ltable tr:hover { background: #F2F7FB; }
    .ltable tr:nth-child(2n+1) {background: #fafafa; }
























































































/*页面样式*/
