* {
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", "\9ED1\4F53";
}

*::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #ECF0F5;
}

div {
  box-sizing: border-box;
}

h3,
p,
h4 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.dynamicMeasure {
  padding: 20px 10px;
  padding-right: 20px;
}

.dynamicMeasure #customer,
.dynamicMeasure #customerManager {
  height: 100%;
  background-color: #fff;
}

.dynamicMeasure #customer :first-child,
.dynamicMeasure #customerManager :first-child {
  height: 100%;
}

.dynamicMeasure .radius {
  border-radius: 4px;
}

.dynamicMeasure .violet {
  background-color: #8E71C7;
}

.dynamicMeasure .red {
  background-color: #F56C6C;
}

.dynamicMeasure .redIcon {
  color: #F56C6C;
}

.dynamicMeasure .blue {
  background-color: #409EFF;
}

.dynamicMeasure .green {
  background-color: #12A87F;
}

.dynamicMeasure .garyIcon {
  color: #AAAAAA;
}

.dynamicMeasure .gary {
  background-color: #F2F2F2;
}

.dynamicMeasure .myIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.dynamicMeasure .warnIcon {
  font-size: 16px;
}

.dynamicMeasure .text {
  color: #999999;
  font-size: 14px;
}

.dynamicMeasure .count {
  color: #666666;
  font-size: 18px;
}

.dynamicMeasure .mt {
  margin-top: 10px;
}

.dynamicMeasure .month {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;
  z-index: 20;
}

.dynamicMeasure .allCustomer {
  background-color: #fff;
  padding: 15px;
}

.dynamicMeasure .allCustomer .top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
  align-items: center;
}

.dynamicMeasure .allCustomer .top .msg {
  text-align: center;
}

.dynamicMeasure .search {
  background-color: #fff;
  padding: 20px;
  margin: 0 20px;
  margin-top: 20px;
  margin-left: 30px;
}

.dynamicMeasure .search .searchItem {
  width: 100%;
}

.dynamicMeasure .performances .performanceItem .performance {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
}

.dynamicMeasure .performances .performanceItem .performance .time {
  display: flex;
  justify-content: space-between;
}

.dynamicMeasure .performances .performanceItem .performance .performanceName {
  color: #666666;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.dynamicMeasure .performances .performanceItem .performance .right .top {
  display: flex;
  margin-top: 20px;
}

.dynamicMeasure .performances .performanceItem .performance .right .top .item {
  margin-right: 20px;
}

.dynamicMeasure .performances .performanceItem .performance .right .top .item .chooseLabel {
  display: inline-block;
  margin-right: 10px;
  color: #666;
  font-size: 14px;
}

.dynamicMeasure .performances .performanceItem .performanceMsg {
  margin-top: 20px;
}

.dynamicMeasure .performances .performanceItem .performanceMsg .performanceMsgItem {
  padding-left: 20px !important;
}

.dynamicMeasure .performances .performanceItem .performanceMsg .performanceMsgItem .item {
  background-color: #fff;
}

.dynamicMeasure .performances .performanceItem .performanceMsg .performanceMsgItem .item .header {
  height: 60px;
  align-items: center;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
}

.dynamicMeasure .performances .performanceItem .performanceMsg .performanceMsgItem .item .content {
  padding: 20px;
  padding-top: 0;
  height: 265px;
  overflow: auto;
}

.dynamicMeasure .performances .performanceItem .performanceMsg .performanceMsgItem .item .content .item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #E5E5E5;
  height: 49px;
  align-items: center;
}

.dynamicMeasure .performances .performanceItem .performanceMsg .performanceMsgItem .item .content .item .left {
  display: flex;
  align-items: center;
}

.dynamicMeasure .performances .performanceItem .performanceMsg .performanceMsgItem .item .content .item .left .button {
  width: 59px;
  height: 28px;
  line-height: 28px;
  border-radius: 28px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-right: 20px;
}

.dynamicMeasure .performances .performanceItem .performanceMsg .performanceMsgItem .item .content .item .button2 {
  width: 69px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.dynamicMeasure .performances .pagination {
  background-color: #fff;
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px 0;
  padding-right: 20px;
}
