<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="./css/element.css" />
  <title>重庆大屏2</title>
  <style>
    .my-table>.el-table {
      flex: inherit;
      width: auto;
    }

    /* html,
    body,
    #main {
      height: 100%;
    } */

    .my-table {
      width: min-content;
      display: flex;
      align-items: flex-start;
    }

    .tableTitle {
      text-align: center;
    }
    div {
      box-sizing: border-box;
    }

  </style>
</head>

<body>
  <div id="main" style="display: flex">
    <div class="my-table">
      <el-table border v-for="(nodeItem,nodeIndex) in mainData.entityArea" :data="entityArea">
        <el-table-column :label="nodeItem.NodeName" align="center">
          <el-table-column class="my-row" align="center" :label="devItem.DevName" v-for="(devItem,devIndex) in nodeItem.entityHarvester"
            width="300px">
            <template slot-scope="scope">
              <el-table :data="devItem.items" width="100%" border class="my-table2">
                <el-table-column label="采集延时" align="center" prop="time">
                </el-table-column>
                <el-table-column label="采集机" align="center" prop="siteName">
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
        </el-table-column>
      </el-table>
    </div>

  </div>
  <script src="./js/es6-shim.min.js"></script>
  <script src="./js/vue.js"></script>
  <script src="./js/element.js"></script>
  <script src="./js/echarts/dist/echarts.min.js"></script>

  <script>
    var v = new Vue({
      el: "#main",
      data: {
        entityArea: [{name:"ed"}],
        mainData: {
          name: "机房出口网络探针",
          entityArea: [
            {
              NodeID: 20006,
              NodeName: "长沙市移动分公司",
              entityHarvester: [
                {
                  MID: 14,
                  NodeID: 20006,
                  areaIP: "192.168.111.10",
                  DevName: "采集机",
                  items: [{ time: "1", site: "61.139.2.69", siteName: "SC_DNS1" },
                  { time: "1", site: "61.139.2.69", siteName: "SC_DNS1" },
                  { time: "1", site: "61.139.2.69", siteName: "SC_DNS1" },
                  { time: "1", site: "61.139.2.69", siteName: "SC_DNS1" }]
                },
                {
                  MID: 14,
                  NodeID: 20006,
                  areaIP: "192.168.111.10",
                  DevName: "采集机2",
                  items: [{ time: "2", site: "61.139.2.69", siteName: "SC_DNS2" },
                  { time: "2", site: "61.139.2.69", siteName: "SC_DNS2" },
                  { time: "2", site: "61.139.2.69", siteName: "SC_DNS2" },
                  { time: "2", site: "61.139.2.69", siteName: "SC_DNS2" }]
                }, {
                  MID: 14,
                  NodeID: 20006,
                  areaIP: "192.168.111.10",
                  DevName: "采集机2",
                  items: [{ time: "2", site: "61.139.2.69", siteName: "SC_DNS2" },
                  { time: "2", site: "61.139.2.69", siteName: "SC_DNS2" },
                  { time: "2", site: "61.139.2.69", siteName: "SC_DNS2" },
                  { time: "2", site: "61.139.2.69", siteName: "SC_DNS2" }]
                },
              ]
            },
            {
              NodeID: 20007,
              NodeName: "长沙市移动分公司2",
              entityHarvester: [
                {
                  MID: 14,
                  NodeID: 20006,
                  areaIP: "192.168.111.10",
                  DevName: "采集机3",
                  items: [{ time: "3", site: "61.139.2.69", siteName: "SC_DNS2" }]
                }
              ]
            },
            {
              NodeID: 20007,
              NodeName: "长沙市移动分公司2",
              entityHarvester: [
                {
                  MID: 14,
                  NodeID: 20006,
                  areaIP: "192.168.111.10",
                  DevName: "采集机3",
                  items: [{ time: "3", site: "61.139.2.69", siteName: "SC_DNS2" }]
                }
              ]
            }
          ]
        }
      },
      methods: {},
      mounted: function () {
        // this.tableData = this.mainData.entityArea[0].entityHarvester[0].items
        // this.entityArea = this.mainData.entityArea
      }
    });
  </script>
</body>

</html>