.NodeSelector .treeButton {
    width: 200px;
}
.NodeSelector .treeButton,
.tree-popover {
        width: auto;
}
.NodeSelector .el-input.el-input--suffix {
    cursor: pointer;
    overflow: hidden;
}

.NodeSelector .el-input.el-input--suffix.rotate .el-input__suffix .el-icon-arrow-up {
    transform: rotate(180deg);
}

.NodeSelector .treeInput {
    width: 200px !important;
    display: block !important;
    margin: auto;
}

.NodeSelector .tree-popover {
    margin-right: 20px;
    display: block;
}

.NodeSelector .my-select {
    width: 200px;
}

.NodeSelector .my-tree {
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto;
    height: 350px;
    width: 200px;
    margin-top: 10px;
}

.NodeSelector .my-tree::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
}

.NodeSelector .my-tree::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.NodeSelector .my-tree::-webkit-scrollbar-track {
    background-color: transparent;
}