* {
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", "\9ED1\4F53";
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.homeShow {
  padding: 20px;
  background-color: #e8ecf1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.homeShow div {
  box-sizing: border-box;
}

.homeShow h3,
.homeShow p,
.homeShow h4 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.homeShow .content {
  height: 100%;
}

.homeShow .content .blue {
  background-color: rgba(29, 140, 248, 0.8);
}

.homeShow .content .blue0 {
  background-color: rgba(29, 140, 248, 0.6);
}

.homeShow .content .skyblue {
  background-color: rgba(79, 196, 246, 0.8);
}

.homeShow .content .skyblue0 {
  background-color: rgba(79, 196, 246, 0.6);
}

.homeShow .content .violet {
  background-color: rgba(142, 113, 199, 0.8);
}

.homeShow .content .violet0 {
  background-color: rgba(142, 113, 199, 0.6);
}

.homeShow .content .yellow {
  background-color: rgba(230, 162, 60, 0.8);
}

.homeShow .content .yellow0 {
  background-color: rgba(230, 162, 60, 0.6);
}

.homeShow .content .red {
  background-color: rgba(245, 108, 108, 0.8);
}

.homeShow .content .red0 {
  background-color: rgba(245, 108, 108, 0.6);
}

.homeShow .content .skygreen {
  background-color: rgba(0, 242, 195, 0.8);
}

.homeShow .content .skygreen0 {
  background-color: rgba(0, 242, 195, 0.6);
}

.homeShow .content .green {
  background-color: rgba(18, 168, 127, 0.8);
}

.homeShow .content .green0 {
  background-color: rgba(18, 168, 127, 0.6);
}

.homeShow .content .left {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.homeShow .content .left .electricity,
.homeShow .content .left .resource,
.homeShow .content .left .flux {
  background-color: #fff;
  width: 100%;
  flex-shrink: 0;
  font-size: 14px;
  border-radius: 4px;
  padding: 20px;
}

.homeShow .content .left #electricity,
.homeShow .content .left #resource,
.homeShow .content .left #flux {
  height: 100%;
}

.homeShow .content .left #electricity > div:first-child,
.homeShow .content .left #resource > div:first-child,
.homeShow .content .left #flux > div:first-child {
  height: 100% !important;
}

.homeShow .content .left .electricity {
  margin-bottom: 20px;
}

.homeShow .content .left .resource {
  margin-bottom: 20px;
}

.homeShow .content .middle {
  height: 100%;
}

.homeShow .content .middle .infomation {
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  border-radius: 4px;
  padding: 20px;
}

.homeShow .content .middle .infomation .map {
  height: 85%;
}

.homeShow .content .middle .infomation .items {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.homeShow .content .middle .infomation .items .item {
  width: 18%;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.homeShow .content .middle .infomation .items .item .count {
  font-weight: bold;
  font-size: 14px;
  line-height: 56px;
}

@media (min-width: 1700px) and (max-width: 1920px) {
  .homeShow .content .middle .infomation .items .item .count {
    font-size: 20px;
  }
}

.homeShow .content .middle .infomation .items .item .text {
  font-size: 14px;
  line-height: 34px;
}

@media (min-width: 1700px) and (max-width: 1920px) {
  .homeShow .content .middle .infomation .items .item .text {
    font-size: 20px;
  }
}

.homeShow .content .right {
  height: 100%;
}

.homeShow .content .right .business {
  width: 100%;
  height: 66%;
  padding-bottom: 20px;
  background-color: #e8ecf1;
}

.homeShow .content .right .business .content {
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
}

.homeShow .content .right .business .content .header {
  display: flex;
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-top-left-radius: 6px;
  overflow: hidden;
}

.homeShow .content .right .business .content .header .city {
  padding: 15px 20px;
  border-right: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  font-size: 14px;
  color: #666;
}

.homeShow .content .right .business .content .header .city:nth-child(4) {
  border-top-right-radius: 6px;
}

.homeShow .content .right .business .content .header .active {
  color: #409eff;
}

.homeShow .content .right .business .content .addBusiness .add-header,
.homeShow .content .right .business .content .addBusiness .visitor-header,
.homeShow .content .right .business .content .addBusiness .expire-header,
.homeShow .content .right .business .content .cabinet-visitor .add-header,
.homeShow .content .right .business .content .cabinet-visitor .visitor-header,
.homeShow .content .right .business .content .cabinet-visitor .expire-header,
.homeShow .content .right .business .content .expireBusiness .add-header,
.homeShow .content .right .business .content .expireBusiness .visitor-header,
.homeShow .content .right .business .content .expireBusiness .expire-header {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 7%;
  align-items: center;
}

@media (min-width: 1700px) and (max-width: 1920px) {
  .homeShow .content .right .business .content .addBusiness .add-header,
  .homeShow .content .right .business .content .addBusiness .visitor-header,
  .homeShow .content .right .business .content .addBusiness .expire-header,
  .homeShow .content .right .business .content .cabinet-visitor .add-header,
  .homeShow .content .right .business .content .cabinet-visitor .visitor-header,
  .homeShow .content .right .business .content .cabinet-visitor .expire-header,
  .homeShow .content .right .business .content .expireBusiness .add-header,
  .homeShow .content .right .business .content .expireBusiness .visitor-header,
  .homeShow .content .right .business .content .expireBusiness .expire-header {
    margin-top: 6%;
    margin-bottom: 8%;
  }
}

.homeShow .content .right .business .content .addBusiness .add-header .title,
.homeShow .content .right .business .content .addBusiness .visitor-header .title,
.homeShow .content .right .business .content .addBusiness .expire-header .title,
.homeShow .content .right .business .content .cabinet-visitor .add-header .title,
.homeShow .content .right .business .content .cabinet-visitor .visitor-header .title,
.homeShow .content .right .business .content .cabinet-visitor .expire-header .title,
.homeShow .content .right .business .content .expireBusiness .add-header .title,
.homeShow .content .right .business .content .expireBusiness .visitor-header .title,
.homeShow .content .right .business .content .expireBusiness .expire-header .title {
  font-size: 14px;
  padding: 0 12px;
  text-align: center;
  color: #666666;
}

.homeShow .content .right .business .content .addBusiness .add-header .line,
.homeShow .content .right .business .content .addBusiness .visitor-header .line,
.homeShow .content .right .business .content .addBusiness .expire-header .line,
.homeShow .content .right .business .content .cabinet-visitor .add-header .line,
.homeShow .content .right .business .content .cabinet-visitor .visitor-header .line,
.homeShow .content .right .business .content .cabinet-visitor .expire-header .line,
.homeShow .content .right .business .content .expireBusiness .add-header .line,
.homeShow .content .right .business .content .expireBusiness .visitor-header .line,
.homeShow .content .right .business .content .expireBusiness .expire-header .line {
  border: 1px solid #f2f2f2;
  height: 0;
  flex-grow: 1;
}

.homeShow .content .right .business .content .addBusiness .items,
.homeShow .content .right .business .content .cabinet-visitor .items,
.homeShow .content .right .business .content .expireBusiness .items {
  display: flex;
  padding: 0 14px;
  justify-content: space-between;
}

.homeShow .content .right .business .content .addBusiness .items .item,
.homeShow .content .right .business .content .cabinet-visitor .items .item,
.homeShow .content .right .business .content .expireBusiness .items .item {
  width: 22%;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}

.homeShow .content .right .business .content .addBusiness .items .item:last-child,
.homeShow .content .right .business .content .cabinet-visitor .items .item:last-child,
.homeShow .content .right .business .content .expireBusiness .items .item:last-child {
  margin-right: 0;
}

.homeShow .content .right .business .content .addBusiness .items .item .count,
.homeShow .content .right .business .content .cabinet-visitor .items .item .count,
.homeShow .content .right .business .content .expireBusiness .items .item .count {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 10% 0;
}

@media (min-width: 1700px) and (max-width: 1920px) {
  .homeShow .content .right .business .content .addBusiness .items .item .count,
  .homeShow .content .right .business .content .cabinet-visitor .items .item .count,
  .homeShow .content .right .business .content .expireBusiness .items .item .count {
    padding: 14% 0;
  }
}

.homeShow .content .right .business .content .addBusiness .items .item .text,
.homeShow .content .right .business .content .cabinet-visitor .items .item .text,
.homeShow .content .right .business .content .expireBusiness .items .item .text {
  color: #fff;
  font-size: 14px;
  padding: 5% 0;
}

@media (min-width: 1700px) and (max-width: 1920px) {
  .homeShow .content .right .business .content .addBusiness .items .item .text,
  .homeShow .content .right .business .content .cabinet-visitor .items .item .text,
  .homeShow .content .right .business .content .expireBusiness .items .item .text {
    padding: 9% 0;
  }
}

.homeShow .content .right .business .content .addBusiness .items .middle-items,
.homeShow .content .right .business .content .cabinet-visitor .items .middle-items,
.homeShow .content .right .business .content .expireBusiness .items .middle-items {
  margin: 0 20px;
}

.homeShow .content .right .business .content .addBusiness .items-different,
.homeShow .content .right .business .content .cabinet-visitor .items-different,
.homeShow .content .right .business .content .expireBusiness .items-different {
  justify-content: center;
}

.homeShow .content .right .wait-work {
  border-radius: 4px;
  width: 100%;
  height: 34%;
  background-color: #fff;
  font-size: 14px;
  padding: 20px;
}

.homeShow .content .right .wait-work .title {
  color: #666666;
}

.homeShow .content .right .wait-work .content {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeShow .content .right .wait-work .content .items {
  display: flex;
  justify-content: space-between;
}

.homeShow .content .right .wait-work .content .items .item {
  width: 21%;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  padding-top: 4%;
  padding-bottom: 2%;
}

.homeShow .content .right .wait-work .content .items .item i {
  font-size: 26px;
}

.homeShow .content .right .wait-work .content .items .item .text {
  margin-top: 4%;
}

@media (min-width: 1700px) and (max-width: 1920px) {
  .homeShow .content .right .wait-work .content .items .item .text {
    margin-top: 7%;
  }
}

@media (min-width: 1700px) and (max-width: 1920px) {
  .homeShow .content .right .wait-work .content .items .item {
    padding-top: 7%;
    padding-bottom: 5%;
  }
}
